<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pcdgroup.hp.pcd_group">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".Client.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/pcd_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pcd_launcher"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:label="PCD_Group">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UserLoginRegister.UserRegistarActivity" android:label="PCD_Group" />
        <activity android:name=".Client.ClientRegisterActivity" android:label="PCD_Group" />

        <activity android:name=".AdminLogin.AdminDashboard" android:label="PCD_Group"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".AdminLogin.AdminSetting" android:label="PCD_Group" />
        <activity android:name=".Client.SingleRecordShow" android:label="PCD_Group" />
        <activity android:name=".Client.ClientDetailsActivity" android:label="PCD_Group" />
        <activity android:name=".Client.UpdateActivity" android:label="PCD_Group" />
        <activity android:name=".Quotation.ShowQuotationList" android:label="PCD_Group" />
        <activity android:name=".Quotation.ViewInvoice" android:label="PCD_Group" />
        <activity android:name=".Quotation.CreateQuotation" android:label="PCD_Group" />
        <activity android:name=".Quotation.Invoice" android:label="PCD_Group" />
        <activity android:name=".Quotation.SelectClient" android:label="PCD_Group" />
        <activity android:name=".Quotation.SelectProduct" android:label="PCD_Group" />
        <activity android:name=".Quotation.PDFViewActivity" android:label="PCD_Group" />
        <activity android:name=".Quotation.List_Quotation_Pdfs" android:label="PCD_Group" />
        <activity android:name=".UserLoginRegister.UserDashbord" android:label="PCD_Group" />
        <activity android:name=".Product.UploadImage" android:label="PCD_Group" />
        <activity android:name=".Product.ViewImage" android:label="PCD_Group" />
        <activity android:name=".Product.ProductSingleRecord" android:label="PCD_Group" />
        <activity android:name=".Product.ProductUpdate" android:label="PCD_Group" />
        <activity android:name=".AdminLogin.AccessAdmin" android:label="PCD_Group" />
        <activity android:name=".Quotation.BrandList" android:label="PCD_Group" />
        <activity android:name=".Discount.Client_Discount" android:label="PCD_Group" />
        <activity android:name=".Client.ClientOfClientList" android:label="PCD_Group" />
        <activity android:name=".VendorDealer.VendorDealerMain" android:label="PCD_Group" />
        <activity android:name=".VendorDealer.VendorProductAdd" android:label="PCD_Group" />
        <activity android:name=".VendorDealer.DealerList" android:label="PCD_Group" />
        <activity android:name=".VendorDealer.VendorList" android:label="PCD_Group" />
        <activity android:name=".PurchaseOrder.PO_List" android:label="PCD_Group" />
        <activity android:name=".PurchaseOrder.Create_New_PO" android:label="PCD_Group" />
        <activity android:name=".PurchaseOrder.SelectVendorProducts" android:label="PCD_Group" />
        <activity android:name=".PurchaseOrder.ViewPurchaseOrder" android:label="PCD_Group" />
        <activity android:name=".PurchaseOrder.FinishedOrder" android:label="PCD_Group" />

    </application>

</manifest>