<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pcdgroup.hp.pcd_group">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pcd_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pcd_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:label="PCD_Group">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UserLoginRegister.UserRegistarActivity" android:label="PCD_Group" />
        <activity android:name=".Client.ClientRegisterActivity" android:label="PCD_Group" />
        <activity android:name=".AdminLogin.AdminLoginActivity" android:label="PCD_Group" />
        <activity android:name=".AdminLogin.AdminDashboard" android:label="PCD_Group" />
        <activity android:name=".Client.SingleRecordShow" android:label="PCD_Group" />
        <activity android:name=".Client.ClientDetailsActivity" android:label="PCD_Group" />
        <activity android:name=".Product.ImageUpload" android:label="PCD_Group" />
        <activity android:name=".Client.UpdateActivity" android:label="PCD_Group" />
        <activity android:name=".Quotation.CreateQuotation" android:label="PCD_Group" />
        <activity android:name=".Quotation.Invoice" android:label="PCD_Group" />
        <activity android:name=".Quotation.SelectClient" android:label="PCD_Group" />
        <activity android:name=".Quotation.SelectProduct" android:label="PCD_Group" />
        <activity android:name=".Quotation.PDFViewActivity" android:label="PCD_Group" />
        <activity android:name=".UserLoginRegister.UserDashbord" android:label="PCD_Group" />

    </application>

</manifest>